<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dglozano.escale">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".EscaleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.drawer.help.HelpActivity"></activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="OPEN_MAIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".ble.BF600BleService" />
        <service android:name=".web.services.DietDownloadService" />
        <service android:name=".web.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".web.services.FirebaseTokenSenderService" />
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/ic_launcher_background" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:parentActivityName="androidx.appcompat.app.AppCompatActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androidx.appcompat.app.AppCompatActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.common.pw_change.ChangePasswordActivity"
            android:label="@string/change_password_title" />
        <activity
            android:name=".ui.common.pw_recovery.RecoverPasswordActivity"
            android:label="@string/recover_password_activity_label" />
        <activity android:name=".ui.common.NoInternetActivity" />
        <activity android:name=".ui.main.diet.show.ShowDietPdfActivity" />
        <activity
            android:name=".ui.main.home.AddMeasurementActivity"
            android:label="@string/add_body_measurement" />
        <activity
            android:name=".ui.drawer.profile.PatientProfileActivity"
            android:label="@string/profile_title" />
        <activity android:name=".ui.doctor.main.DoctorMainActivity" />
        <activity
            android:name=".ui.doctor.main.AddPatientActivity"
            android:label="@string/add_patient_label"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>